* {
    font-family: Arial, Helvetica, sans-serif;
    color: #e5f4e3;
    margin: 0;
}

body {
    background-color: #272727;
    min-height: 100vh;
}

body, .vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundStatus {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 50px;
    border: 5px solid #FFD400;
    background-color: #e5f4e3;
}

.blackColor {
    color: black;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0047ab;
    padding: 25px 0;
    margin-bottom: 50px;
}

.lastGame {
    text-align: center;
    margin-bottom: 25px;
}

.rr {
    margin-bottom: 25px;
    width: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0047ab;
    padding: 25px 0;
    margin-top: auto;
}


.result{
    font-weight: bold;
    color:#FFD400;
    font-size: 32px;
    text-decoration: underline;
}
h3, h4 {
    text-align: center;
    font-size: 32px;
}
button{
    background-color: #1c2321;
    color:#FFD400;
    border: 2px solid #0047ab;
    font-weight: bold;
    width: 75px;
    height: 50px;
}
.sectionOne{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0;
}
.square {
    width: 250px;
    height: 250px;
    border: 5px solid #0047ab;
    margin: 25px 50px;
}

.destacar {
    font-weight: bold;
    font-size: 32px;
    color:#FAFAFA;
}

span, .winner {
    color: #0047ab;
    font-size: 30px;
}